<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar automóvil</title>
</head>
<body>
	<h1>Agregar automóvil</h1>
	<a th:href="@{/}">Volver</a>
	<br>
	<br>
	<form th:action="@{/automovil/guardar}" method="post" th:object="${automovil}">
		<label for="dominio">Dominio:</label>
		<input type="text" name="dominio" th:field="*{dominio}">
		<span th:if="${#fields.hasErrors('dominio')}" th:errors="*{dominio}">Error dominio</span>
		<br>
		<label for="marca">Marca:</label>
		<select name="marca" id="marca" th:field="*{tipo.modelo.marca.idMarca}">
			<option th:each="marca : ${marcas}" th:value="${marca.idMarca}" th:text="${marca.nombreMarca}"></option>
		</select>
		<br>
		<label for="modelo">Modelo:</label>
		<select name="modelo" id="modelo" th:field="*{tipo.modelo.idModelo}">
			<option th:each="modelo : ${modelos}" th:if="${modelo.marca.idMarca == automovil.tipo.modelo.marca.idMarca}" th:value="${modelo.idModelo}" th:text="${modelo.nombreModelo}"></option>
		</select>
		<br>
		<label for="tipo">Tipo:</label>
		<select name="tipo" id="tipo" th:field="*{tipo.idTipo}">
			<option th:each="tipo : ${tipos}" th:if="${tipo.modelo.idModelo == automovil.tipo.modelo.idModelo}" th:value="${tipo.idTipo}" th:text="${tipo.nombreTipo}"></option>
		</select>
		<br>
		<label for="dniPropietario">DNI propietario:</label>
		<input type="text" name="dniPropietario" th:field="*{dniPropietario}">
		<span th:if="${#fields.hasErrors('dniPropietario')}" th:errors="*{dniPropietario}">Error DNI propietario</span>
		<br>
		<label for="estadoInspeccion">Estado inspeccion:</label>
		<select name="estadoInspeccion" id="estadoInspeccion" th:field="*{estadoInspeccion}">
			<option value="apto">Apto</option>
			<option value="condicional">Condicional</option>
			<option value="rechazado">Rechazado</option>
		</select>
		<br>
		<br>
		<input type="submit" name="guardar" value="Guardar">
	</form>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" >

$(document).ready(function() {
		$("#marca").on("change", function() {
		var idMarca = $(this).val();
        $("#modelo").attr("disabled", true);
        $("#tipo").attr("disabled", true);
		$.ajax({
			type: "GET",
			url: "[[@{/automovil/json/modelos}]]?idMarca=" + idMarca,
			success: function(result) {
				var result = JSON.parse(result);
				var opciones = "";
				for (var i = 0; i < result.length; i++)
                    opciones += '<option value="' + result[i].idModelo + '">' + result[i].nombreModelo + '</option>'
                $("#modelo").html("opciones");
                $("#modelo").attr("disabled", false);
				$("#modelo").trigger("change");
			}
		});
	});
		
	$("#modelo").on("change", function() {
	var idModelo = $(this).val();
        $("#tipo").attr("disabled", true);
        $.ajax({
            type: "GET",
            url: "[[@{/automovil/json/tipos}]]?idModelo=" + idModelo,
            success: function(result) {
                var result = JSON.parse(result);
                var opciones = "";
                for (var i = 0; i < result.length; i++)
                    opciones += '<option value="' + result[i].idTipo + '">' + result[i].nombreTipo + '</option>'
                $("#tipo").html(opciones);
                $("#tipo").attr("disabled", false);
            }
        });
    });
	$("#modelo").attr("disabled", true);
	$("#tipo").attr("disabled", true);
	$("#marca").trigger("change");
});
</script>-->
</body>
</html>