<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eliminar inspección</title>
</head>
<body>
	<h1>Eliminar inspección</h1>
	<a th:href="@{/}">Volver</a>
	<br>
	<br>
	<form th:action="@{/inspeccion/borrar}" method="post" th:object="${inspeccion}">
		<input type="hidden" name="numero" th:field="*{numero}">
		<label for="dominio">Dominio:</label>
		<input type="text" name="dominio" th:field="*{dominio}" disabled>
		<br>
		<label for="dniInspector">DNI inspector:</label>
		<input type="text" name="dniInspector" th:field="*{dniInspector}" disabled>
		<br>
		<label for="estado">Estado:</label>
		<select name="estado" id="estado" th:field="*{estado}" disabled>
			<option value="apto">Apto</option>
			<option value="condicional">Condicional</option>
			<option value="rechazado">Rechazado</option>
		</select>
		<br>
		<label for="fecha">Fecha:</label>
		<input type="date" id="fecha" name="fecha" th:field="*{fecha}" disabled>
		<br>
		<br>
		<input type="submit" name="eliminar" value="Eliminar">
	</form>
</body>
</html>